# Predicting Airline Stock Volatility with Oil Futures and Oil News Sentiment

Group Number: 23

Student Name: Blake Stanley

Student EID: bks2356

Student Name: Raghu

Student EID: 

Student Name: Shiv

Student EID: 

Date: 02/26/2026

#### Goal: Predict the volatility in airline stocks using oil futures and oil news sentiment.
...

### Description of Datasets:
* Size of the datasets
* Column Names
* Classification of each column
* List of Discrete Values for Categorical Variables
* Distribution of Discrete Variables
* Distribution of Quantitative Variables

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# load in datasets
tosi = pd.read_csv('data/tosi.csv')[["Date", "TOSI"]]
tosi.head()

     Date      TOSI
0  Jan-82  0.665709
1  Feb-82 -0.353687
2  Mar-82 -0.405980
3  Apr-82  0.529878
4  May-82  0.420250

In [7]:
tosi.tail()

       Date      TOSI
521  Jun-25 -2.088744
522  Jul-25 -0.738642
523  Aug-25 -1.434664
524  Sep-25 -1.137545
525  Oct-25 -1.187825

In [9]:
ovx = pd.read_csv('data/OVXCLS.csv')
ovx.head()

  observation_date  OVXCLS
0       2007-05-10   27.09
1       2007-05-11   26.41
2       2007-05-14   27.23
3       2007-05-15   27.89
4       2007-05-16   27.07

In [10]:
ovx.tail()

     observation_date  OVXCLS
4900       2026-02-19   56.73
4901       2026-02-20   56.12
4902       2026-02-23   59.05
4903       2026-02-24   58.82
4904       2026-02-25   58.97

In [14]:
# grab stock data with yfinance
import yfinance as yf

In [15]:
# create csv
tickers = ['AAL', 'DAL', 'UAL', 'LUV']

data = yf.download(tickers, start='1900-01-01', auto_adjust=False)['Adj Close']
data.to_csv('data/airline_adj_close.csv')

[*********************100%***********************]  4 of 4 completed

In [16]:
airline_stocks = pd.read_csv('data/airline_adj_close.csv', index_col=0, parse_dates=True)
airline_stocks.head()

            AAL  DAL       LUV  UAL
Date
1980-01-02  NaN  NaN  0.157935  NaN
1980-01-03  NaN  NaN  0.157028  NaN
1980-01-04  NaN  NaN  0.159750  NaN
1980-01-07  NaN  NaN  0.156120  NaN
1980-01-08  NaN  NaN  0.150674  NaN

In [17]:
airline_stocks.tail()

               AAL        DAL        LUV         UAL
Date
2026-02-20  13.590  69.440002  52.090000  113.029999
2026-02-23  12.930  66.879997  50.900002  107.169998
2026-02-24  13.150  69.230003  50.639999  112.589996
2026-02-25  13.320  69.379997  49.889999  112.870003
2026-02-26  14.055  70.690002  50.740002  116.684998

### Data Wrangling
* List missing data 
* Replacement of missing data (if any)
* Deletion of rows (if any) and reasons
* Check that the data is in the correct range
* Check that the data is in the correct format.
* Check for duplicates and remove them (if any)

### Preliminary Statistical Analysis
* Determination of the Pearson correlation coefficient among quantitative data
* Determination of the best fit among highly correlated quantities - linear, quadratic, or cubic

### Machine Learning Models
* List and describe the machine learning models you will use to test your hypothesis.

### Narration
* Present in a bulleted form your narration